/* Reset básico para remover margens e paddings padrões */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* Estilos principais do corpo, incluindo fonte padrão e animação de fundo */
body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(-45deg, #eea2a2, #bbc1bf, #57c6e1, #b49fda, #7ac5d8);
background-size: 400% 400%;
animation: gradient 15s ease infinite;
height: 100vh;
}

/* Animação do fundo do corpo */
@keyframes gradient {
0% { background-position: 0% 50%; }
50% { background-position: 100% 50%; }
100% { background-position: 0% 50%; }
}

/* Estilos do cabeçalho, incluindo alinhamento e sombra para imagens */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 100px;
}

header img {
  float: left;
  height: 100px;
  width: auto;
  padding-left: 10px;
  filter: drop-shadow(5px 5px 5px #222);
}

/* Estilos para botões com efeitos de hover e ativos */
.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
  background-color: #fff;
  color: #777;
  cursor: pointer;
}

.btn:hover, .btn:active {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
  background-color: #fff;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

/* Estilos do contêiner de e-mail */
.email-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  z-index: 10;
  
  
}

.suricata-image {
  max-width: auto;
  height: 92vh;
  margin-right: 20px;
}

.email-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 600px;
  height: auto;
  background: rgba(29, 3, 105, 0.475);
  border-radius: 8px;
  box-shadow: 3px 3px 4px rgba(0,0,0,0.1) inset, 3px 3px 10px rgba(0,0,0,0.2) inset;
}


/* Estilos de formulário de e-mail */
.email-box label, .email-box input[type="email"] {
  width: 100%;
  padding: 1px;
  margin-bottom: 5px;
  font-family: "Teko", sans-serif;
  font-size: 3.2vh;
  text-align: center;
  color: #fff;
  text-decoration: black;
  margin-bottom: 15px;
}

/* Estilos específicos para elementos neon para efeitos visuais */
.neon {
  font-size: 1.5rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
  border: 0.125em solid #14f7ff;
  padding: 0.25em 1em;
  border-radius: 0.25em;
  text-shadow: 0 0 .20em #FFF7, 0 0 .30em #14f7ff;
  box-shadow: inset 0 0 .5em #14f7ff, 0 0 .5em #14f7ff;
}

.neon::before, .neon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transition: opacity 100ms linear;
}

.neon::before {
  top: 140%;
  width: 100%;
  height: 100%;
  background: #14f7ff;
  transform: perspective(0.2em) rotateX(10deg) scale(1.3, 0.40);
  filter: blur(0.5em);
  opacity: 0.6;
}

.neon:hover::before {
  opacity: 0.8;
}

.neon::after {
  background: #14f7ff;
  box-shadow: 0 0 2em #14f7ff;
  z-index: -1;
  opacity: 0;
}

.neon:hover::after, .neon:hover, .neon:focus {
  opacity: 1;
  color: white;
}

/* Estilos de animação para elementos em movimento e interativos */
@keyframes moveInBottom {
  0% {
      opacity: 0;
      transform: translateY(30px);
  }
  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

.popup .popuptext {
visibility: hidden;
width: 160px;
background-color: #555;
color: #fff;
text-align: center;
border-radius: 6px;
padding: 8px 0;
position: absolute;
z-index: 1;
bottom: 125%;
left: 50%;
margin-left: -80px;
}

.popup .show {
visibility: visible;
-webkit-animation: fadeIn 1s;
animation: fadeIn 1s;
}

/* redes sociais */

.social-sidebar {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0 5px 5px 0;
}

.social-sidebar a {
  color: white;
  font-size: 24px;
  padding: 10px;
  transition: color 0.3s;
}

.social-sidebar a:hover {
  color: #14f7ff; /* Você pode mudar a cor do hover conforme desejar */
}


@media (max-width: 800px) {
  body {
    font-family: 'Roboto', sans-serif;
    background: magenta; /* Cor óbvia para testes */
    height: 100vh;
  }
}

